<link rel="stylesheet" href="/assets/style.css" />

<div id="login">
  <h1>Create New Presentation</h1>
  <form method="POST" action="/createpresentation">
    <p>
      <input
        type="text"
        name="present"
        value=""
        placeholder="Presentation Name"
      />
    </p>
    <p class="submit"><input type="submit" name="commit" value="Create" /></p>
    <br />
  </form>
  <p>
    <a href="dashboard">Back to dashboard</a>
  </p>
</div>
