<link rel="stylesheet" href="/assets/style.css" />

<div class="container">
  <form id="form2" method="POST" action="/dashboard"></form>
  <% if(palette.length!=null){ %>
  <h1>Your Palette</h1>
  <% palette.map((element)=>{ %>
  <br /><button form="form2" value="<%=element.id2%>" name="but">
    <%=element.name%>
  </button>
  <br />
  <% }) %> <% } %>
  <br />
  <a href="/createpresentation">Create Presentation</a>
</div>
